services:
  - type: web
    name: pm-tools
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm run start
    autoDeploy: true
    envVars:
      - key: GEMINI_API_KEY
        sync: false
